@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background: #0d0d0d;
    }

    .btn {
        @apply bg-[#5f9ea0] border-2 border-[#5f9ea0] rounded-sm p-1 m-1 cursor-pointer hover:bg-[#0d0d0d] hover:text-[#5f9ea0]
    }
}